<!doctype html>

<html lang="nb">
<head>
    <meta charset="utf-8">
    <title>
        Gemini: duping your Azure calendar since 2022
    </title>
</head>

<body>

<h1>Gemini</h1>

<p>
    Gemini lager en kopi av din Microsoft-kalender i <em>iCalendar</em>-format
    slik at du kan bruke den kalender-riggen du selv vil.
</p>

<p>
    Bygget med <code>+kjærlighet +sikkerhet -microsoft -otp</code> fra <a href="https://github.com/nais/gemini">NAIS</a>.
</p>

{{ if .Authenticated }}
<h2>Din kalender</h2>
<p>
    <a href="/calendar/{{ .UserID }}">Lenke til kalender</a> <em>(ICS, {{ .Size }} bytes)</em>
</p>
<p>
    Del aldri lenken med andre!
</p>

{{ if .Error }}
<p>
    FEIL: {{ .Error }}
</p>
<p>
    Feilen oppstod: {{ .LastSync }}
</p>
{{ end }}

<p>
    Siste synkronisering uten feil: {{ .LastSuccess }}
</p>

{{ end }}

<h2>Slik funker det</h2>
{{ if not .Authenticated }}
<p>
    Først må du <a href="/oauth2/login">logge inn på din NAV IT-konto</a>.
    Når du har gjort det får du en hemmelig kalender-lenke.
</p>
{{ end }}

<p>
    Lenken legges inn i e-postklienten som et abonnement.
    Let etter noe som likner på <em>New Calendar Subscription</em>.
</p>
<p>
    Møter og invitasjoner er <em>read-only</em>. Vedlegg fjernes.
    Endringer og
    <abbr title="répondez s'il vous plaît">RSVP</abbr> krever at man bruker
    Outlook eller web-kalenderen.
    I det minste kan du se kalenderen på telefonen din uten å være innrullert.
    Eller integrere den med din private Google-kalender. Mulighetene er uendelige.
</p>

<h2>Hva sier andre?</h2>
<blockquote>
    "kudos for gemini btw, den er jævlig nyttig"
</blockquote>
<blockquote>
    "Jeg har lyst til å integrere microsoftkontoen min med kalenderen min i Ubuntu, men det stoppet opp pga 2FA.
    Gemini funket helt nydelig!!!"
</blockquote>

</body>

</html>